PORT=4000
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:8080
UPLOAD_DIR=./uploads
DB_PATH=./data.sqlite
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/your-db-name

